<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link href="{%  static 'css/adv.css'  %}" rel="stylesheet">
</head>

<body>
    <h1>The Secret Garden</h1>
    <p><img src="https://images-na.ssl-images-amazon.com/images/I/51V-OwTiNVL._SX320_BO1,204,203,200_.jpg" alt="adv3" width="230px" height="330px" style="float: left; padding: 10px">
    <br>
    <h3>Price: Rs.500</h3>
    <a href="TheSecretGarden"><button>Book Preview</button></a>
    <br>
    <button>Add To Cart</button>
    </p>
    <br>
    <br>
    <br>
    <h2>Book Description</h2>
    <p>
        "I am sure there is Magic in everything, only we have not sense enough to get hold of it and make it do things for us.”
When Mary Lennox, the unloved, contrary and spoiled ten-year-old, is found alone in the deserted house after her parents’ death, she is sent to live with an uncle whom she has never known.
In Yorkshire, England, at his secluded Misselthwaite Manor, Martha Sowerby, a warm-hearted chambermaid, introduces Mary to the late Mrs. Craven and her private walled garden, which has been locked for years.
As Mary becomes curious to explore this secret garden, will she be able to find the key?
</p>
    <h2>About the author</h2>
    <p>
        Born in Cheetham, Manchester, England, Frances Hodgson Burnett (1849-1924) developed her love for reading at a very young age. In 1868, Burnett’s first story was published in Godey’s Lady’s Book. She had begun writing for a livelihood and wrote non-stop.
        Her stories were being published on a regular basis in Peterson’s Magazine, Harper’s Bazaar and Scribner’s Monthly.
That Lass o’ Lowrie’s, her first full-length novel, was published in 1877. She started writing children’s fiction after meeting Louisa May Alcott and Mary Mapes Dodge—the editor of St. Nicholas, a children’s magazine.

Many of her short works were published in this magazine.
    </p>


</body>
</html>