{% extends 'base1.html' %}

{% block content1 %}

{% for product in products %}

<h1>{{product.name}}</h1>
    <p><img src="{{product.image.url}}" alt="adv1" style="float: left; padding: 10px" width="230px" height="330px">
    <br>
    <h3>Price: Rs.{{product.price}}</h3>
<a href="{{product.preview.url}}">
    <button style="background-color: orange;
                    color: black;
                    padding: 14px 20px;
                    margin: 8px 0;
                    border: none;
                    cursor: pointer;
                    width: 15%;
                    font-size: 20px;
                    text-align: center;
                    margin-left: 10px;">Book Preview</button></a>
    <br>
    <button>Add to Cart</button>
    </p>
<br>
<br>
<br>
<br>
<br>
<h2> Book Description</h2>
    <p>
       {{product.description}}
    </p>
    <h2>About the author</h2>
    <p>
       {{product.aboutauthor}}
    </p>
{% endfor %}
{% endblock %}
