<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link href="{%  static 'css/adv.css'  %}" rel="stylesheet">
</head>

<body>
    <h1>The EveryDay Healthy Vegetarian</h1>
    <img src="https://images-na.ssl-images-amazon.com/images/I/51fsKnrK1DL._SX386_BO1,204,203,200_.jpg" alt="cooking2" width="300px" height="450px">
    <h2>Book Description</h2>
    <p>
        With this book, Nandita serves up her repertoire through easy-to-follow and source recipes that will certainly add much-needed oomph to your tables and lifestyles.


        - CHEF MANU CHANDRA
        
        Cooking healthy meals can be creative, easy and downright fun!
        In The Everyday Healthy Vegetarian, Dr Nandita Iyer, trained nutritionist and self-taught celebrity chef, provides a fantastic combination of myth-busting nutritional advice and simple, fuss-free vegetarian recipes using everyday ingredients from the Indian kitchen.
        
        In over 100 delectable recipes spread across four sections, she guides you through interesting ways of preparing the same old vegetables and fruits, while upping the protein content of your diet, and ensuring you get your daily dose of energy-filled grains and brain-stimulating fats.
        
        
        This book comes complete with:
        
        . The low-down on the nutritional values of everyday superfoods and advice on how to incorporate them into your diet;
        
        . Diabetic-friendly meals, as well as vegan and gluten-free recipes;
        
        . Weekly meal plans featuring interesting combinations that balance your nutritional intake;
        
        . Tips on growing your own foods in your garden, terrace or balcony.
        
        Illustrated with gorgeous photographs of the food you're about to prepare, this book will undoubtedly inspire you to opt for a healthier way of life.
    </p>
    <h2>About the author</h2>
    <p>
        Nandita Iyer is a medical doctor with a specialization in nutrition. Having started her career in the health insurance and healthcare advertising industry, she transitioned into a full-time nutrition expert and a seasoned columnist. She has written on nutrition, health and food for over a decade, and her articles have appeared in Men's Health, BBC Good Food, Femina, Mint, The Hindu and BuzzFeed, among others. As the author of the popular food blog Saffron Trail, she has been featured in Vogue, Femina, Fox Life, India Today, Times of India and others. She also conducts healthy cooking workshops for individuals and companies. When she is not busy multitasking at work, her favourite ways to de-stress are singing, pulling out weeds in her garden and watching Downton Abbey.

        Nandita lives in Bengaluru with her ultra-marathoner husband, nine-year-old son and enough books to fill several libraries. You can connect with her on Twitter user name saffrontrail or Facebook.com/saffrontrail. If you try any of the recipes from this book, share it with her on Instagram using the hashtag #saffrontrail. You can also visit her website, saffrontrail.com, and sign up for the newsletter.  
    </p>
    <h3>Price: Rs.550</h3>
    
</body>
</html>