
<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wad Project | Home</title>
        <link rel="stylesheet" href="{%  static  'css/Home.css'  %}">
        <link rel="stylesheet" href="{%  static  'css/signup.css'  %}">
        <link rel="stylesheet" href="{%  static  'css/login.css'  %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">


    </head>

    <body>
        <header>
            <h1>BOOK STORE</h1>
        </header>
        <br>
        <br>
        <div class="search">
        <form action="">
          <input type="text" placeholder="Search the book you want.." name="search">
          <button type="submit"><i class="fa fa-fw fa-search" style="font-size: 28px; padding-bottom: 7px;"></i></button>
          <button2 style=" width: 10%; background-color: #e6400e; margin-left: 5px;"><a href="#"><i class="fa fa-shopping-cart" style="color: white;"></i></a>My Cart</button2>
            <button2 onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Login</button2>
          <button1 onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button1>

        </form>
        </div>


        <!-- SignUp-->
        <div id="id01" class="modal1">
          <div class="signup">
          <form class="modal1-content animate" action="/action_page.php">
            <div class="imgcontainer1">
              <span onclick="document.getElementById('id01').style.display='none'" class="close1" title="Close Modal">&times;</span>

            </div>
            <br>
            <br>
            <div class="container1">
                  <label><b>Email</b></label>
                  <input type="text" placeholder="Enter Email" name="email" required>

                  <label><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" required>

                  <label><b>Repeat Password</b></label>
                  <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
                  <input type="checkbox"> Remember me
                  <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

                  <div class="clearfix">

                      <button1 type="submit" class="signupbtn">Sign Up</button1>
                      <button1 type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn1">Cancel</button1>
                  </div>
              </div>
          </form>
          </div>
        </div>

        <!-- Login-->

        <div id="id02" class="modal2">
            <div class="login">
                <form class="modal2-content animate" action="/action_page.php">

                    <div class="imgcontainer2">
                        <span onclick="document.getElementById('id02').style.display='none'" class="close2" title="Close Modal">&times;</span>
                        <img src=
"https://achieve.lausd.net/cms/lib/CA01000043/Centricity/domain/779/welligentbuttons/login.png" alt="Image" class="image">
                    </div>

                    <div class="container2">
                        <label for="details" style= font-size:18px;><b>Choose a login option:</b></label>
                        <select name="details" id="details" style= "font-size: 15px;padding: 1px;border-width:medium;">
                            <option value="retailer">Retailer</option>
                            <option value="user">User</option>
                        </select>
                        <br>
                        <br>
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <button2 type="submit">Login</button2>

                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </div>

                    <div class="container2" style="background-color:#f1f1f1">
                        <button2 type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn2">Cancel</button2>
                        <span class="psw">Forgot <a href="#">password?</a></span>
                    </div>
            </form>
        </div>
    </div>

        <br>
        <br>


<div class="topnav">
            <a href="{% url 'Home' %}"><i class="fa fa-fw fa-home"></i>Home</a>

            <!-- Dropdown -->
            
            <div class="dropdown">
              <button class="dropbtn"><i class="fa fa-th-large"></i>Book Categories
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                {% for category in categories %}
                    <a href="/category?category={{category.id}}">{{category.name}}</a>
                {% endfor %}
              </div>
            </div>

            <a href="{% url 'booksdownload' %}" target="_blank"><i class="fa fa-download"></i> Books for Download</a>
            <a href="#"><i class="fa fa-fw fa-truck"></i>Place order</a>
            <a href="#"><i class="fa fa-user"></i>My account</a>
            <a href="#"><i class="fa fa-book"></i>New Releases</a>
            <!--a href="#" style="float: right;"><i class="fa fa-shopping-cart"></i>My Cart</a-->

        </div>



        <div class="main">

            <br>
            
            <h2>Book Categories</h2>
            
            <div id="myBtnContainer">
              <button class="btn active" onclick="filterSelection('all')"> Show all</button>
              <button class="btn" onclick="filterSelection('scfi')"> ScienceFiction</button>
              <button class="btn" onclick="filterSelection('fantasy')"> Fantasy</button>
              <button class="btn" onclick="filterSelection('humor')"> Humor</button>
              <button class="btn" onclick="filterSelection('adventure')"> Adventure</button>
              <button class="btn" onclick="filterSelection('thriller')"> Thriller</button>
              <button class="btn" onclick="filterSelection('cooking')"> Cooking</button>
            </div>
            
            <!-- Portfolio Gallery Grid -->
            <div class="row">
              <div class="column scfi">
                <div class="content">
                  <img src="https://tse4.mm.bing.net/th?id=OIP.Ul1A_vG3Z7zIJfU9rIobXgAAAA&pid=Api&P=0&w=300&h=300" alt="ScienceFiction" style="width:100%" width="400px" height="550px">
                </div>
              </div>
              <div class="column scfi">
                <div class="content">
                <img src="https://prodimage.images-bn.com/pimages/2940158926723_p0_v3_s550x406.jpg" alt="ScienceFiction" style="width:100%" width="400px" height="550px">
                </div>
              </div>
              
              
              <div class="column fantasy">
                <div class="content">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/51uAHDktCRL._SX324_BO1,204,203,200_.jpg" alt="Fantasy" style="width:100%" width="400px" height="550px">
                </div>
              </div>
              <div class="column fantasy">
                <div class="content">
                <img src="https://www.free-ebooks.net/2d_covers/small/1349396506.jpg" alt="Fantasy" style="width:100%" width="400px" height="550px">
                </div>
              </div>

              

              <div class="column humor">
                <div class="content">
                <img src="https://tse4.mm.bing.net/th?id=OIP.rAl4h184JPk5FcQPsv9i7gAAAA&pid=Api&P=0&w=300&h=300" alt="Humor" style="width:100%" width="400px" height="550px">
                </div>
              </div>
            
              <div class="column humor">
                <div class="content">
                  <img src="https://tse2.mm.bing.net/th?id=OIP.gsLsUUshiEhl033Dy54QawAAAA&pid=Api&P=0&w=300&h=300" alt="Humor" style="width:100%" width="400px" height="550px">
                </div>
              </div>

              <div class="column adventure">
                <div class="content">
                <img src="https://images-na.ssl-images-amazon.com/images/I/51TMoES6LVL._SX321_BO1,204,203,200_.jpg" alt="Adventure" style="width:100%" width="400px" height="550px">
                </div>
              </div>
            
              <div class="column adventure">
                <div class="content">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/41swSYqFcyL._SX321_BO1,204,203,200_.jpg" alt="Adventure" style="width:100%" width="400px" height="550px">
                </div>
              </div>

              <div class="column thriller">
                <div class="content">
                <img src="https://vorablesen.s3.eu-west-1.amazonaws.com/bookishfirst/book/92/cover_image/display-e01a51e8e43a6f98e111bed4ca1d340d.jpg" alt="Thriller" style="width:100%" width="400px" height="550px" >
                </div>
              </div>
            
              <div class="column thriller">
                <div class="content">
                  <img src="https://tse4.mm.bing.net/th?id=OIP.GzQ6ipcjdH5Zdg3sAab2ZwAAAA&pid=Api&P=0&w=300&h=300" alt="Thriller" style="width:100%" width="400px" height="550px">
                </div>
              </div>

              <div class="column cooking">
                <div class="content">
                <img src="https://tse1.mm.bing.net/th?id=OIP.KmPLvg8OxySTtXJyqcFFpAAAAA&pid=Api&P=0&w=300&h=300" alt="Cooking" style="width:100%" width="400px" height="550px">
                </div>
              </div>
            
              <div class="column cooking">
                <div class="content">
                  <img src="http://www.penguin.com.au/covers/catalog/9780143799689.jpg" alt="Cooking" style="width:100%" width="400px" height="550px">
                </div>
              </div>
              
            <!-- END GRID -->
            </div>
            
            <br>
            <br>
            <section>
              <h2>New Releases</h2>
            <div class="rownew">
              <div class="columnnew">
                <div class="contentnew">
                   <img src="https://www.free-ebooks.net/2d_covers/large/1616221849.jpg" alt="Newreleasebook" style="width:100%" width="400px" height="550px">
                </div>
              </div>
              <div class="columnnew">
                <div class="contentnew">
                <img src="https://tse2.mm.bing.net/th?id=OIP.dMRyVRd5ue25uCmK05Gn7AHaLZ&pid=Api&P=0&w=300&h=300" alt="Newreleasebook" style="width:100%" width="400px" height="550px">
                </div>
              </div>
            </div>
            </section>


            <!-- END MAIN -->
            </div>
            
            <script>

            //Signup
            var modal1 = document.getElementById('id01');
 
            window.onclick = function(event) {
              if (event.target == modal1) {
              modal1.style.display = "none";
              }
            }
            // Login

            var modal2 = document.getElementById('id02');

            window.onclick = function(event) {
              if (event.target == modal2) {
              modal2.style.display = "none";
              }
            }
            filterSelection("all")
            function filterSelection(c) {
              var x, i;
              x = document.getElementsByClassName("column");
              if (c == "all") c = "";
              for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
              }
            }
            
            function w3AddClass(element, name) {
              var i, arr1, arr2;
              arr1 = element.className.split(" ");
              arr2 = name.split(" ");
              for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
              }
            }
            
            function w3RemoveClass(element, name) {
              var i, arr1, arr2;
              arr1 = element.className.split(" ");
              arr2 = name.split(" ");
              for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                  arr1.splice(arr1.indexOf(arr2[i]), 1);     
                }
              }
              element.className = arr1.join(" ");
            }
            
            
            // Add active class to the current button (highlight it)

            var btnContainer = document.getElementById("myBtnContainer");
            var btns = btnContainer.getElementsByClassName("btn");
            for (var i = 0; i < btns.length; i++) {
              btns[i].addEventListener("click", function(){
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
              });
            }

            </script>

        <footer>
              <div class="foosec">
              <a href="#">FAQ</a>
              <a href="#">Terms of Use</a>
              <a href="#">Privacy Policy</a>
              <a href="#">Help</a>
              <a href="#">Refund Policy</a>
              </div>

        </footer>


    </body>
</html>


