<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{%  static 'css/adv.css'  %}" rel="stylesheet">
</head>
<body>
<h1>The Reformer: A Novel Based on the Life of Martin Luther</h1>
    <p><img src="https://www.free-ebooks.net/2d_covers/large/1616221849.jpg" alt="adv3" width="200px" height="300px" style="float: left; padding: 10px">
    <br>
    <h3>Price: Rs.200</h3>
    <a href="TheReformer"><button>Book Preview</button></a>
    <br>
    <button>Add To Cart</button>
    </p>
    <br>
    <br>
    <h2>Book Description</h2>
    <p>
        What Nazi Germany did to the Jews did not happen overnight. Although the historians differ on the origin, some argue that the foundation for it was built by the writings and deeds of perhaps the most influential reformer of the millennium, Martin Luther.
        This screenplay is a journey through his life to give us historical facts as well as insights into his reformation. Whether or not the events of his lifetime could have influenced the Holocaust is left for the reader to decide. The monologues are verbatim
        copies from Luther's books, articles, and sermons. Preserving historical accuracy has been the chief goal in formulating conversations missing from recorded history.
    </p>
    <h2>About the author</h2>
    <p>
    Maysam Yabandeh<br>
    Dr. Maysam Yabandeh is a computer scientist graduated from Ecole Polytechnique Fédérale de Lausanne in Switzerland.
    </p>


</body>
</html>