<!DOCTYPE html>
<html>
<head>
    <link href="adv.css" rel="stylesheet">
</head>

<body>
    <h1>The Time Machine</h1>
    <img src="https://images-na.ssl-images-amazon.com/images/I/51w2N3bln9L._SX320_BO1,204,203,200_.jpg" alt="scifi3" width="300px" height="450px">
    <h2>Book Description</h2>
    <p>
        A compelling science fiction, the Time Machine is a first-hand account of a Time Traveler's journey into the future. a pull of the lever and the machine sends him to the year 802,701, when humanity has split into two bizarre races—the ethereal Eloi and the subterranean Morlocks. Here, his machine is stolen and with the help of Weena, an Eloi he saved from drowning, the traveler is able to retrieve it.
Whizzing thirty million years further into the future, he finds a slowly dying earth, where the bloated red sun sits motionless in the sky and the only sign of life is a black blob with tentacles.
He returns to the Victorian time, overwhelmed, just three hours after he originally left..
Credited with inventing the time machine in this masterpiece, the provocative insight of H. G. Wells continues to enthrall the readers. the Time Machine has since been adapted into many feature films and television series and has inspired many more works of fiction.
    </p>
    <h2>About the author</h2>
    <p>
        Born in Bromley in Kent, England, Herbert George “H. G.” Wells (1866-1946) has been called the father of science fiction. His most notable works include the War of the Worlds (1897), the Time Machine (1895), the Invisible Man (1897) and the Island of Doctor Moreau (1896). Wells also wrote on topics related to history and social commentary and was involved in politics for much of his life. Novels like Kipps and the History of Mr. Polly, which describe lower-middle class life, led to the suggestion that he was a worthy successor to Charles Dickens.
Wells died in London in August, 1946, after living through two World Wars. the War of the Worlds has been both popular (having never gone out of print) and influential, spawning half a dozen feature films, radio dramas, a record album, various comic book adaptations, a television series and sequels or parallel stories by other authors.
    </p>
    <h3>Price: Rs.500</h3>
    
</body>
</html>